.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 20px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px;

}

.main{
    background-image: url('assets/448370d8b3549c61e7110a365c71ebcb.jpg');
    height: 500px;
    width: 500px;
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: white;
    text-decoration: wavy;
}

#textToConvert{
    appearance: none;
    border: none;
    background-color: lightyellow;
    width: 100%;
    height: 50px;
}

input[id='textToConvert']:focus{
    appearance: none;
    border: 1px solid yellow;
   
}

#submitButton{
    width: 100px;
    border: none;
}